

body{
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
    margin: 0;
    padding: 0;
}


#trim {
    height: 3em;
    width: 100%;
    box-shadow: 0 0 10px black;
}
.heading{
    background: rgb(0,100,144);
    background: linear-gradient(90deg, rgba(0,100,144,1) 18%, rgba(0,160,200,1) 91%);
    display:flex;
    justify-content: center;
    align-items: center;
    height: 15em;
}
.heading h1{
    background: -webkit-linear-gradient(#fff, #ffef8a);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: white;
    font-size: 5em;
}
.heading img{
    padding-left: 0.5em;
}

nav{
    margin: 0;
    padding: 0;
    background: rgb(48,48,48);
    background: linear-gradient(180deg, rgba(48,48,48,1) 13%, rgba(114,114,114,1) 97%);
    border-bottom: 3px solid rgba(0,160,200,1);
}


nav ul{
    list-style:none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 75%;
    margin: auto;
    justify-content: space-evenly;
    height: 2.5em;
    align-items: center;
}

li a{
    text-decoration: none;
    font-size: 1.25em;
    color: white;
}

.section{
    display: flex;
}


.section-content h2{
    margin-bottom: 0.25em;
}
.section-content{
}
.section-content p{
    text-align: left;
    font-size: 1em;
    margin-bottom: 0.25em;
    margin-top: 0.25em;
}

.section-image{
    margin: 1em;

    max-width: 15em;
    max-height: 15em;
    width: auto;
    height: auto
}

.sections{
    margin: 1em;
    width: 75%;
}

.content{
    display: flex;  
    background: white;  
}


.main{
    width: 85%;
    margin: auto;
    box-shadow: -15px 0 15px -15px #000, 15px 0 15px -15px #000;
}

.bg{
    background: rgb(45,45,45);
}

.side{
    background: rgb(239,239,239);
    width: 25%;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
}

.side-section{
    padding-bottom: 3em;
}

.side-section h3{
    font-size: 1em;
    margin:0;
    padding:0;
    color: rgb(0,90,130);
    margin-bottom: .25em;
}

.side-section p{
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1em;
    margin-right: 1em;
    
}

.side-title{
    margin-left: 1em;
    margin-right: 1em;
}

#disclaimer{
    font-size: 0.25em;
}